body {
    background-color: #F3F5F8;
    font-family: 'Montserrat', sans-serif;
}

.text-sm {
    font-size: 80%;
}

.btn-primary {
    background-color: #3B9CFB;
    border-color: #3B9CFB;
}

.text-link {
    color: #3B9CFB;
}

@media (min-width: 768px) {
    .w-md-15 {
        width: 15% !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}